<p>AccessNS Header</p>

<div class="container progress-bar-all">
  <div class="row">
    <div class="col-sm">
      <p-progressBar [showValue]="showValue" class="progress-bar-left" [value]="leftValue"></p-progressBar>
      <div class="progress-bar-left-dot">.</div>
    </div>
    <div class="col-sm">
      <p-progressBar [showValue]="showValue" class="progress-bar-center" [value]="centerValue"></p-progressBar>
    </div>
    <div class="col-sm">
      <p-progressBar [showValue]="showValue" class="progress-bar-right" [value]="rightValue"></p-progressBar>
    </div>
  </div>
</div>

<app-ng-sample-grid></app-ng-sample-grid>
<p>AccessNS Footer Stuff</p>

