<div class="container unit-detail__header">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      <div class="row ns-progress-bar">
        <div class="col-2">
          <p-progressBar [showValue]="showValue" class="progress-bar__left" [value]="leftValue"></p-progressBar>
          <div class="progress-bar-left-dot">.</div>
        </div>
        <div class="col">
          <p-progressBar [showValue]="showValue" class="progress-bar__middle" [value]="centerValue1"></p-progressBar>
        </div>
        <div class="col">
          <p-progressBar [showValue]="showValue" class="progress-bar__middle" [value]="centerValue2"></p-progressBar>
        </div>
        <div class="col-2">
          <p-progressBar [showValue]="showValue" class="progress-bar__right" [value]="rightValue"></p-progressBar>
          <div class="progress-bar-right-dot">.</div>
        </div>
      </div>
    </div>
    <div class="col justify-right">
      One of three columns
    </div>
  </div>
</div>

<app-ng-sample-grid></app-ng-sample-grid>
<p>AccessNS Footer Stuff</p>

