<div *ngFor="let groupedColumn of gridColumnApi.getRowGroupColumns()">
  <p class="group-by-indicator">{{groupedColumn.getColDef().headerName}}</p>
</div>

<mat-radio-group [formControl]="groupByForm" name="groupBySelectedValue" ngModel="" #groupByRadioGroup
                 *ngFor="let groupByItem of gridColumnApi.getAllColumns(); index as i">
  <mat-radio-button *ngIf="i === 0" name="groupBySelectedValue" value="">None</mat-radio-button><br>
  <mat-radio-button name="groupBySelectedValue" value="{{groupByItem.getId()}}">{{groupByItem.getColDef().headerName}}</mat-radio-button><br>
</mat-radio-group>

<footer>
  <button mat-button matTooltip="Close Group By" (click)="onGroupByClose()">CLOSE</button>
  <button mat-button matTooltip="Apply Groupy By" (click)="onGroupyByApply()">APPLY</button>
</footer>
