<mat-form-field *ngFor="let newFilterData of newFilterDataSet">
  <mat-select placeholder="{{newFilterData.getColumnHeader}}" [formControl]="newFilterData.getFormControl" multiple>
    <mat-select-trigger></mat-select-trigger>
    <mat-option *ngFor="let filterData of newFilterData.getFilterData">
      {{filterData}}
    </mat-option>
  </mat-select>
</mat-form-field>

<footer>
  <button mat-button (click)="onFilterModalClose()">Cancel</button>
  <button mat-button (click)="onFilterApply()">Apply</button>
</footer>
