<header class="hbox">
  <h1>Filter</h1>
  <p>Saved Filters</p>
  <button (click)="onFilterModalClose()"><mat-icon>close</mat-icon></button>
</header>

<div>
  <mat-form-field *ngFor="let newFilterData of newFilterDataSet">
    <mat-select placeholder="{{newFilterData.getColumnHeader}}" [formControl]="newFilterData.getFormControl" multiple>
      <mat-select-trigger> {{newFilterData.getFormControl.value}}</mat-select-trigger>
      <button (click)="onSelectAllClick($event)" [attr.combobox-column] = newFilterData.getColumn>Select All</button>
      <button (click)="onClearAllButton($event)" [attr.combobox-column] = newFilterData.getColumn>Clear All</button>
      <mat-option *ngFor="let filterData of newFilterData.getFilterData" [value]="filterData">
        {{filterData}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<footer>
  <button mat-button (click)="onClearFilterClick()">CLEAR</button>
  <button mat-button (click)="onFilterApply()">APPLY</button>
</footer>
