.ng-filter-modal {
  min-width: 300px;
}

.ng-filter-modal-section {
  width: 100%;
  height: 100%;
  //background-color: #4f772c;
}

.ng-filter-modal-header {
  width: 100%;
  height: 100%;
  //background-color: deeppink;
}

.ng-filter-modal-footer {
  width: 100%;
  height: 100%;
  //background-color: red;
}

