.ng-filter-modal {
  min-height: 300px;
}

.link-btn {
  text-decoration: underline;
  color: cornflowerblue;
}

.transparent {
  background: transparent;
  border: transparent;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.ng-filter-modal-footer {
}

