<h1>Advance Grid Implementation</h1>
<app-ng-advance-grid [agGridAngular]="agGrid" [gridTitle]="gridTitle" [groupByApplied]="groupByApplied"
                     (appliedFilterData)="onFilterDataChange($event)">
  <ag-grid-angular
    #agGrid
    class="{{agGridDefaultCss}}"
    rowSelection="{{rowSelectionType}}"
    enableGroupEdit="{{enableGroupEdit}}"
    [rowData]="rowData"
    [columnDefs]="columnDefinition"
    [statusBar]="statusBar"
    [enableRangeSelection]="enableRangeSelection"
    [defaultColDef]="defaultColDef"
    [rowHeight]="getRowHeight"
    (gridReady)="onGridReady($event)"
    (columnRowGroupChanged)="onGroupByChange()">
  </ag-grid-angular>
</app-ng-advance-grid>



<!--<h2>Simple Grid Implementation</h2>-->
<!--<app-ns-grid-->
  <!--[gridTitle]="gridTitle"-->
  <!--[columnDefinition]="columnDefinition"-->
  <!--[rowData]="rowData"-->
<!--&gt;</app-ns-grid>-->
