<app-ng-advance-grid [gridApi]="agGrid" [gridTitle]="gridTitle">
  <ag-grid-angular
    #agGrid
    id="my-grid"
    class="ag-theme-balham ag-grid-style"
    [rowData]="rowData | async"
    [columnDefs]="columnDefinition"
    [autoGroupColumnDef]="autoGroupColumnDef"
    rowSelection="multiple"
    (gridReady)="onGridReady($event)"
    enableGroupEdit="true"
    [statusBar]="statusBar"
    [enableRangeSelection]="enableRangeSelection"
    [defaultColDef]="defaultColDef"
    [rowHeight]="getRowHeight"
  >
  </ag-grid-angular></app-ng-advance-grid>
