.watchlist-icon {
  //color: var(--primary-gold);
  background: transparent;
  border: transparent;

  .mat-icon {
    vertical-align: middle;
  }
}

.equipment-id {
  text-decoration: underline;
  background: transparent;
  border: transparent;
}
