.ng-grid-tbar {
  width: 100%;
  margin: 0;
  //&.ng-grid-tbar> *:first-child {
  //  padding: 0 2em 0 0.5em;
  //}
}

.advance-search {
  width: 100%;
}

.tbar-middle-section {
  display: inherit;
}

.display-inherit {
  display: inherit;
}
