<p-pickList [source]="hiddenColumns"
            [target]="visibleColumns"
            sourceHeader="Hide"
            targetHeader="Visible"
            [responsive]="true"
            filterBy="columnHeader"
            dragdrop="true"
            sourceFilterPlaceholder="Search by Column Name"
            targetFilterPlaceholder="Search by Column Name"
            [sourceStyle]="{'height':'200px'}"
            [targetStyle]="{'height':'200px'}"
>

  <ng-template let-column pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{column.columnHeader}}</div>
    </div>
  </ng-template>

</p-pickList>

<footer>
  <button class="float-left" mat-button (click)="onCancelColumnSelectorClick()">Cancel</button>
  <button class="float-right" mat-button (click)="onSaveColumnSettingClick()">Save Column Setting</button>
</footer>
