$odd-row-background-color: var(--supporting-super-light);
$row-height: 40px;
$foreground-opacity: 10;
$header-background-color: white;
$ag-icon-menu: "\f0dd";


$ag-icons-path: "../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/";
@import "../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../../../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";
