/** Progress Bar 2.0 **/
.ns-progress-bar {
  & .col {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari prior 9.0 */
    transform: skewX(-20deg);
    padding: 0 0 0 3px;
  }

  & .progress-bar__left {
    & .ui-progressbar {
          & .ui-progressbar-value {
            background: #a28113;
          }
        }

        .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.ui-progressbar-determinate {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 80px;
          background-color: var(--secondary-medium-grey);
        }
  }

  & .progress-bar__right {
      & .ui-progressbar {
        & .ui-progressbar-value {
          background: var(--primary-gold);
        }
      }

      .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.ui-progressbar-determinate {
          border-top-right-radius: 80px;
          border-bottom-right-radius: 25px;
        background-color: var(--secondary-medium-grey);
      }
  }

  & .progress-bar__middle {
      & .ui-progressbar {
        & .ui-progressbar-value {
          background: var(--secondary-dark-gold);
        }
      }
      .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.ui-progressbar-determinate {
        background-color: var(--secondary-medium-grey);
      }
  }

  & .progress-bar-right-dot {
    transform: skewX(20deg);
    font-size: 70px;
    position: fixed;
    top: -66px;
    right: -68px;
    width: 100px;
    color: #2c2d28;
  }

  & .progress-bar-left-dot {
    transform: skewX(20deg);
    font-size: 70px;
    position: fixed;
    top: -66px;
    right: 0;
    width: 100px;
    left: 1px;
    color: #2c2d28;
  }
}
